<section id="about">
  <div class="container">
    <h2><strong>About</strong></h2>
    <span class="bar-title mb-5"></span>
    <div class="row">
      <div class="col-lg-4 col-md-12" data-aos="fade-right">
        <picture>
          <img
            src="assets/images/profile.jpg"
            alt="photo de profil"
            class="img-fluid"
          />
        </picture>
        <div class="d-flex justify-content-center">
          <a
            class="btn-social-media"
            href="https://www.linkedin.com/in/ayush-garg-07737712b/"
            rel="tooltip"
            target="_blank"
          >
          <i class='fab fa-linkedin-in'></i>
          </a>
          <a
            class="btn-social-media btn-default btn-round btn-lg btn-icon"
            href="https://github.com/ayushg2710"
            rel="tooltip"
            target="_blank"
          >
          <i class='fab fa-github'></i>
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
        <h3>Full Stack Software Developer (MEAN)</h3>
        <p class="font-italic">
          Self motivated and hardworking individual constantly involved in self
          improvement and always ready to take up challenging tasks in order to
          test my skills and improve them further. Full Stack Web Developer with
          a demonstrated history of working in software development. Skilled in
          Java, C++, Node.JS, Data Structures, Front-end Development in
          React.JS, and Angular. Currently pursuing Bachelor of Technology -
          BTech focused in Information Technology from Maharaja Agrasen
          Institute of Technology.

          <br />Passionate about development <b>Back-End</b> and
          <b>Front-End</b>.
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <ul>
              <li>
                <fa-icon [icon]="mapMarker"></fa-icon
                ><strong> Working in Noida, India</strong>
              </li>
              <li>
                <fa-icon [icon]="building"></fa-icon
                ><strong>New Delhi, India</strong>
              </li>
              <li>
                <fa-icon [icon]="email"></fa-icon
                ><strong
                  ><a href="mailto:ayushg2710@gmail.com">
                    ayushg2710@gmail.com</a
                  ></strong
                >
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6">
            <ul>
              <li>
                <fa-icon [icon]="birthday"></fa-icon><strong> 22 years </strong>
              </li>
              <li>
                <fa-icon [icon]="badge"></fa-icon
                ><strong> B.Tech (Information Technology)</strong>
              </li>
              <li>
                <fa-icon [icon]="home"></fa-icon
                ><strong> Full Time Software Engineer </strong>
              </li>
            </ul>
          </div>
        </div>
        <p>
          I am looking for an innovative and user-centric company to best meet
          the needs customer, from his idea to the final delivery of his
          project, or participate in the improvement of a project existing.
        </p>
      </div>
    </div>
  </div>
</section>
